.titulo_inicio {
    font-size: 45px;
    text-align: center;
  }
  
  .inicio_columnas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
    margin-top: 20px;
  }
  
  .columna_1, .columna_2 {
    flex: 1;
    margin: 0 20px;
    text-align: justify;
    font-size: 20px;
  }
  
  em {
    font-style: italic;
  }
  