.navegacion__menu {
    display: flex;
    justify-content: center;
    padding: 1%;
  }
  
  .navegacion__enlace, .enlace_login, .boton_cerrar_sesion {
    display: flex;
    place-items: center;
    justify-content: center; 
    min-width: 120px;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #0e110d;
    color: rgb(238, 238, 238);
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    font-weight: bolder;
  }
  
  .navegacion__enlace:hover, .enlace_login:hover {
    background-color: rgb(238, 238, 238);
    border-color: rgb(238, 238, 238);
    color: #0e110d;
    transition: 0.4s;
  } 
  
  .boton_cerrar_sesion:hover {
    background-color: rgb(230, 51, 51);
    border-color: rgb(230, 51, 51);
    transition: 0.4s;
  }